/* GENERICS */

*{
    margin: 0 auto;
    font-family: 'Rubik Mono One', sans-serif;
}

/* HEADER */

header{
    background-color: transparent;
    position: fixed;
    height: 50px;

}

.nav-bar{
    display: flex;
    text-align: right;
}

a{
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
}

/* MAIN */

.red{
    background-color: red;
    height: 100vh;;

}

.green{
    background-color: green;
    height: 100vh;;

}

.yellow{
    background-color: yellow;
    height: 100vh;;
    padding-top: 100px;
    
}

.column{
    text-align: center;
    width: 40%;
}


h2 {
    font-size: 50px;
    color: yellow;
    font-weight: bold;
}

#green{
    color: green;
}
